@use "../../scss/utils/variables" as *;
@use "../../scss/shared/mixins" as *;

.talk-to-sales {
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 12rem;
	position: relative;

	.stars {
		position: absolute;
		right: 10%;
		width: 27.3rem;
		height: 27.3rem;
		opacity: 0.2;
		@extend %rotate-anim;
	}
	.heading-wrapper {
		margin-top: 1.6rem;
		@include flex(center, center, 0.8rem, column);
	}
	.heading-container {
		max-width: 48.5rem;
	}
	h2 {
		@extend %oval-heading;
	}
	h3 {
		font-size: $fs-48;
		line-height: 1.1;
		font-weight: $fw-medium;
	}
	p {
		margin-top: 2.4rem;
		font-size: $fs-14;
		font-weight: $fw-medium;
		letter-spacing: -0.01em;
		line-height: 1.45;
	}
	button {
		@include flex(center, start, 2.4rem);
		font-size: $fs-14;
		color: $white;
		letter-spacing: 0.01em;
		line-height: 1;
		font-weight: $fw-semi-bold;
		border: 0.1rem solid $white;
		border-radius: 8rem;
		padding: 1.6rem 2rem;
		padding-right: 2rem;
		margin-top: 2.4rem;

		div {
			display: flex;
			align-items: center;
			gap: 0.3rem;
		}
		div + svg {
			width: 1.4rem;
			height: 1rem;
		}
		&:hover {
			background: $white;
			color: #000;

			path {
				fill: #000 !important;
			}
		}
	}

	@include media(max, tablet) {
		& {
			margin-top: 8rem;
			margin-inline: 2rem;

			.stars {
				width: 14.6rem;
				height: 14.6rem;
				top: 55%;
				right: -15%;
			}
			h3 {
				font-size: 3.2rem;
			}
		}
	}
}
