@use "../../scss/utils/variables" as *;
@use "../../scss/shared/mixins" as *;

.what-it-solves {
	margin-top: 12rem;
	margin-inline: 16rem 13.3rem;

	h2 {
		@extend %oval-heading;
	}
	.heading-container {
		padding-top: 3.1rem;

		h3 {
			font-size: $fs-48;
			font-weight: $fw-medium;
			line-height: 1.1;

			span {
				color: $yellow;
			}
		}
	}
	.content-container.desktop-view {
		margin-top: 2.9rem;
		@include flex(start, space-between, 9.9rem);
		max-width: 107.3rem;
		// background-color: red;
	}
	.content {
		display: flex;
		gap: 7rem;
	}
	.bar-container {
		width: 0.1rem;
		background-color: rgba($color: #ffffff, $alpha: 0.5);
		min-height: 100%;
		position: relative;

		.bar {
			width: 0.4rem;
			border-radius: 0.8rem;
			height: calc(100% / 3);
			position: absolute;
			transform: translateX(calc(-50% + 0.05rem));
			background-color: $yellow;
		}
	}
	.points {
		margin-top: 0.8rem;
		display: flex;
		flex-direction: column;
		gap: 5.6rem;
	}
	.point {
		max-width: 35.2rem;
		h4 {
			font-size: $fs-24;
			line-height: 1.1;
			letter-spacing: 0.01em;
		}
		p {
			margin-top: 1.4rem;
			font-size: $fs-14;
		}
	}
	.col.image-container {
		width: 55rem;
		min-height: 100%;
		background-color: red;
		position: relative;

		.stars {
			width: 29.7rem;
			height: 27.3rem;
			position: absolute;
			top: -12rem;
			right: -5rem;
		}
		.demo-container {
			position: relative;
			width: 100%;
			height: 100%;
			img {
				position: absolute;
			}
		}
		.demo1 {
			top: -2rem;
			width: 51.9rem;
			height: 29rem;
		}
		.demo2 {
			top: -50%;
			width: 55rem;
			height: 41.6rem;
		}
		.demo3 {
			width: 55rem;
			height: 31.2rem;
		}
	}
	.content-container.mobile-view {
		display: none;
	}

	@include media(max, tablet) {
		& {
			margin-top: 7.2rem;
			margin-inline: 2rem;

			.heading-container {
				padding-top: 3.2rem;
			}
			.content-container.desktop-view {
				display: none;
			}
			.content-container.mobile-view {
				display: block;
				margin-top: 2.5rem;

				.point-img-container {
					margin-top: 5.6rem;
					img {
						width: 100%;

						height: auto !important;
					}
				}
			}
			.col.content {
				gap: 2.4rem;
			}
		}
	}
}
