@use "../../scss/utils/variables" as *;
@use "../../scss/shared/mixins" as *;

.testimonials {
	margin-top: 12rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-inline: 25.4rem;
	// background-image: url("public/testimonial-gradient-bg.svg");
	background-position: cover;
	background-repeat: no-repeat;
	// background-position: left -30%;
	background-position: right top;
	background-size: cover;

	.heading-container {
		max-width: 53.9rem;
	}
	h2 {
		@extend %oval-heading;
	}
	h3 {
		font-size: $fs-48;
		line-height: 1.1;
		font-weight: $fw-medium;
		text-align: center;
	}
	.cards-container {
		margin-top: 7.2rem;
		position: relative;
		@include flex(stretch, stretch, 4rem);
		align-items: stretch;
		transform: translate(75%, 0%);
		transform-origin: 0 0;
		opacity: 0;
		// width: 100%;
		// height: 100%;;
	}
	.card-container {
		opacity: 0.6;
		flex: 1;
		border-radius: 1.6rem;
		background-color: $charcoal-black;
		min-height: 25rem;
		padding: 1.6rem;
		padding-bottom: 4rem;
		background-image: url("public/card-star-bg.svg");
		background-repeat: no-repeat;
		background-position: bottom center;
		background-size: 100% auto;
		will-change: transform, opacity;

		&:nth-child(1) {
			transform: rotateZ(15deg) translate(10%, 52.5%);
		}

		&:nth-child(2) {
			transform: rotateZ(-7.5deg) translate(20%, 52.5%);
		}

		&:nth-child(3) {
			transform: rotateZ(7.5deg) translate(-7%, 52.5%);
		}

		&:nth-child(4) {
			transform: rotateZ(-15deg) translate(-30%, 52.5%);
		}
	}
	.header,
	.author-container {
		font-size: $fs-14;
		font-weight: $fw-medium;
		letter-spacing: -0.01em;
	}
	.header p {
		color: rgba($color: #ffffff, $alpha: 0.8);
		line-height: 1.15;
		margin-top: 1.6rem;
	}
	.testimonial-card {
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	.author-container {
		margin-top: auto;
		h4 {
			line-height: 1;
		}
		p {
			font-style: italic;
			color: rgba($color: #ffffff, $alpha: 0.4);
		}
	}
	@for $i from 1 through 4 {
		.card-container:nth-child(#{$i}) {
			animation-delay: calc(0.2s * $i);
		}
	}

	@include media(max, tablet) {
		margin-top: 8rem;
		padding-inline: 0;
		overflow-x: hidden;

		h3 {
			font-size: $fs-24;
			margin-top: 1.6rem;
		}
		.cards-container {
			margin-top: 4.8rem;
			display: flex;
			gap: 2rem;
			// overflow-x: auto;
			padding: 0 2rem 1rem;
			transform: none;
			opacity: 1;
			max-width: 100%;
		}
		.card-container {
			min-width: 19.1rem;
			flex-shrink: 0;
			max-width: 19.1rem;
			flex-shrink: 0;
			transform: none !important;
			opacity: 1 !important;
		}
	}
}
